.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 10px;
}

.highlight {
  color: #f2f2f2;
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(1.3);
}

.fav {
  color: #ff80ed;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

#main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #BE2D32;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
#main-nav #logo,
#main-nav .nav-list {
  color: #f2f2f2;
}
#main-nav #logo {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 200px;
}
#main-nav #logo .logo-img {
  display: inline-block;
  width: min(32px, 100%);
}
#main-nav nav ul {
  display: flex;
}
#main-nav .nav-list {
  padding: 20px;
  transition: 0.3s;
}
#main-nav .nav-list:hover {
  background: #E7AC7E;
  color: #222;
}

header .hero {
  background: url("https://images.pexels.com/photos/4199098/pexels-photo-4199098.jpeg") no-repeat center/cover;
  height: 60vh;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 10px;
}
header .hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E7AC7E;
  opacity: 0.8;
  border-radius: 10px;
}
header .hero h1,
header .hero p {
  z-index: 2;
}
header .hero h1 {
  font-size: 4rem;
}
header .hero p {
  font-size: 2.8rem;
}

main #search-section form {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
main #search-section form #search-box {
  font-size: 1.8rem;
  padding: 10px;
  width: 600px;
  border: 2px solid #E7AC7E;
  border-radius: 20px;
}
main #search-section form #search-box:focus {
  border: none;
  outline: 2px solid #BE2D32;
}
main #search-section form #search-btn {
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background: #E7AC7E;
}
main .recipe-content {
  min-height: 60vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}
main .recipe-content #home-content-container {
  display: flex;
  margin-top: 40px;
  padding: 30px;
}
main .recipe-content #home-content-container .home-img {
  display: block;
  width: min(500px, 60%);
  height: min(300px, 40%);
  box-shadow: 0 0 4px 4px #ccc;
}
main .recipe-content #home-content-container .home-texts {
  padding: 30px;
}
main .recipe-content #home-content-container .home-texts .home-list li {
  margin-left: 30px;
  list-style: circle;
}
main .recipe-content #home-content-container .meal-db {
  margin-top: 40px;
}
main .recipe-content #home-content-container .meal-db h3 {
  text-align: center;
}
main .recipe-content #home-content-container .meal-db .home-mealdb {
  width: 100%;
  height: 150px;
  object-fit: fill;
  display: block;
  background-color: #333;
  border-radius: 20px;
}
main .recipe-content .recipe-list {
  display: none;
}
main .recipe-content .recipe-list .recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 20px;
}
main .recipe-content .recipe-list .recipe-container .recipe-card {
  display: grid;
  place-items: end;
  border: 1px solid #BE2D32;
  border-radius: 20px;
  box-shadow: 0 4px 4px #777;
  overflow: hidden;
  transition: all 0.2s ease;
}
main .recipe-content .recipe-list .recipe-container .recipe-card:hover {
  transform: scale(1.02);
}
main .recipe-content .recipe-list .recipe-container .recipe-card .recipe-img,
main .recipe-content .recipe-list .recipe-container .recipe-card .recipe-name {
  grid-column: 1/2;
  grid-row: 1/2;
}
main .recipe-content .recipe-list .recipe-container .recipe-card .recipe-name {
  cursor: pointer;
  height: max-content;
  width: 100%;
  padding: 30px;
  background-color: #E7AC7E;
  opacity: 0.9;
  font-weight: bold;
  text-align: center;
}
main .recipe-content .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
main .recipe-content .modal-container .modal-content {
  position: relative;
  max-height: 500px;
  max-width: 1200px;
  background-color: #f2f2f2;
  color: #222;
  padding: 30px;
  border-radius: 10px;
  overflow-y: scroll;
}
main .recipe-content .modal-container .modal-content .recipe-modal-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
main .recipe-content .modal-container .modal-content .recipe-modal-container .modal-img {
  align-self: flex-start;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 4px #777;
}
main .recipe-content .modal-container .modal-content .btn-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  gap: 20px;
}
main .recipe-content .modal-container .modal-content .btn-container .close-modal-btn i {
  color: red;
}
main .recipe-content .ads {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.meal-container .meal-list .meal-card {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
.meal-container .meal-list .meal-card:nth-child(2n+1) {
  border: 1px solid #e4e2e2;
}
.meal-container .meal-list .meal-card:nth-child(2n) {
  background-color: #e4e2e2;
}
.meal-container .meal-list .meal-card img {
  width: min(300px, 40%);
  box-shadow: 0 4px 5px 2px #777;
}

footer {
  height: 100%;
  text-align: center;
  padding: 40px;
}

/*# sourceMappingURL=style.css.map */
