@use 'util';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: util.$font-stack;
   color: util.$font-color;
}

header {
   
   // navigation
   #main-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background-color: util.$primary-color;
      padding: util.$pd-xs;
      border-radius: util.$br-md;
      
      #logo,
      .nav-list {
         color: util.$font-color-secondary;
      }
      
      nav ul {
         display: flex;
         flex-wrap: wrap;
      }
      
      .nav-list {
         padding: util.$pd-sm;
         transition: .3s;
         
         &:hover {
            background: util.$accent-color;
            color: util.$font-color;
         }
      }
   }
   
   // hero section
   .hero {
      background: url("https://images.pexels.com/photos/4199098/pexels-photo-4199098.jpeg") no-repeat center / cover;
      height: 60vh;
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: util.$mg-md;
      border-radius: util.$br-md;

      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: util.$accent-color;
         opacity: .8;
         border-radius: util.$br-md;
      }

      h1,
      p {
         z-index: 2;
      }

      h1 {
         font-size: util.$fs-lg;
      }

      p {
         font-size: util.$fs-md;
      }
   }
}

main {

   // Search box section
   .search-section form {
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: util.$pd-md;

      #search-box {
         font-size: util.$fs-sm;
         padding: util.$pd-xs;
         width: 600px;
         border: 2px solid util.$accent-color;
         border-radius: util.$br-lg;

         &:focus {
            border: none;
            outline: 2px solid util.$primary-color;
         }
      }

      #search-btn {
         cursor: pointer;
         font-size: util.$fs-sm;
         border-radius: util.$br-md;
         padding: util.$pd-xs;
         border: none;
         background: util.$accent-color;
      }
   }

   // Recipe list section
   .recipe-content {
      min-height: 80vh;
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 10px;

      .recipe-list {

         .recipe-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 400px;
            gap: 20px;


            .recipe-card {
               display: grid;
               place-items: end;
               border: 1px solid util.$primary-color;
               border-radius: util.$br-lg;
               box-shadow: 0 4px 4px #777;
               overflow: hidden;
               transition: all .2s ease;

               &:hover{
                  transform: scale(1.02);
               }
               
               .recipe-img,
               .recipe-name {
                  grid-column: 1 / 2;
                  grid-row: 1 / 2;
               }
               
               .recipe-name {
                  cursor: pointer;
                  height: max-content;
                  width: 100%;
                  padding: util.$pd-md;
                  background-color: util.$accent-color;
                  opacity: .9;
                  font-weight: bold;
                  text-align: center;
               }
            }
         }
      }

      .modal-container {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         min-height: 100%;
         background-color: rgba(0, 0, 0, 0.7);
         display: none;
         justify-content: center;
         align-items: center;
         z-index: 1000;

         .modal-content {
            position: relative;
            max-height: 500px;
            max-width: 1200px;
            background-color: util.$font-color-secondary;
            color: util.$font-color;
            padding: util.$pd-md;
            border-radius: util.$br-md;
            overflow-y: scroll;

            .recipe-modal-container {
               display: flex;
               align-items: center;
               gap: 20px;

               .modal-img {
                  align-self: flex-start;
                  max-width: 300px;
                  border-radius: util.$br-md;
                  box-shadow: 0 4px 4px #777;
               }
            }

            .close-modal-btn {
               cursor: pointer;
               border: none;
               position: absolute;
               top: 0;
               right: 0;
               margin: util.$mg-xs;
               background-color: transparent;

               & i {
                  color: red;
                  font-size: 1.2rem;
               }
            }
         }
      }

      .ads {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #ccc;
      }
   }
}

footer {
   height: 100%;
   text-align: center;
   padding: util.$pd-lg;
}