@use 'util';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: util.$font-stack;
   color: util.$font-color;
   scroll-behavior: smooth;
}

// navigation
#main-nav {
   position: sticky;
   top: 0;
   z-index: 10;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   background-color: util.$primary-color;
   padding: util.$pd-xs;
   border-radius: 0 0 util.$br-md util.$br-md;
   
   #logo,
   .nav-list {
      color: util.$font-color-secondary;
   }

   #logo {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 200px;

      .logo-img {
         display: inline-block;
         width: min(32px, 100%);
      }
   }
   
   nav ul {
      display: flex;
   }
   
   .nav-list {
      padding: util.$pd-sm;
      transition: .3s;
      
      &:hover {
         background: util.$accent-color;
         color: util.$font-color;
      }
   }
}

header {
   // hero section
   .hero {
      background: url("https://images.pexels.com/photos/4199098/pexels-photo-4199098.jpeg") no-repeat center / cover;
      height: 60vh;
      position: relative;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: util.$mg-md;
      border-radius: util.$br-md;

      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: util.$accent-color;
         opacity: .8;
         border-radius: util.$br-md;
      }

      h1,
      p {
         z-index: 2;
      }

      h1 {
         font-size: util.$fs-lg;
      }

      p {
         font-size: util.$fs-md;
      }
   }
}

main {
   // Search box section
   #search-section form {
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: util.$pd-md;

      #search-box {
         font-size: util.$fs-sm;
         padding: util.$pd-xs;
         width: 600px;
         border: 2px solid util.$accent-color;
         border-radius: util.$br-lg;

         &:focus {
            border: none;
            outline: 2px solid util.$primary-color;
         }
      }

      #search-btn {
         cursor: pointer;
         font-size: util.$fs-sm;
         border-radius: util.$br-md;
         padding: util.$pd-xs;
         border: none;
         background: util.$accent-color;
      }
   }

   // Recipe list section
   .recipe-content {
      min-height: 60vh;
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 10px;

      #home-content-container {
         display: flex;
         margin-top: util.$mg-lg;
         padding: util.$pd-md;

         .home-img {
            display: block;
            width: min(500px, 60%);
            height: min(300px, 40%);
            box-shadow: 0 0 4px 4px #ccc;
         }

         .home-texts {
            padding: util.$pd-md;
            .home-list li {
               margin-left: 30px;
               list-style: circle;
            }
         }

         .meal-db {
            margin-top: util.$mg-lg;

            h3 {
               text-align: center;
            }

            .home-mealdb {
               width: 100%;
               height: 150px;
               object-fit: fill;
               display: block;
               background-color: #333;
               border-radius: util.$br-lg;
            }
         }

      }

      .recipe-list {
         display: none;

         .recipe-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 400px;
            gap: 20px;


            .recipe-card {
               display: grid;
               place-items: end;
               border: 1px solid util.$primary-color;
               border-radius: util.$br-lg;
               box-shadow: 0 4px 4px #777;
               overflow: hidden;
               transition: all .2s ease;

               &:hover{
                  transform: scale(1.02);
               }
               
               .recipe-img,
               .recipe-name {
                  grid-column: 1 / 2;
                  grid-row: 1 / 2;
               }
               
               .recipe-name {
                  cursor: pointer;
                  height: max-content;
                  width: 100%;
                  padding: util.$pd-md;
                  background-color: util.$accent-color;
                  opacity: .9;
                  font-weight: bold;
                  text-align: center;
               }
            }
         }
      }

      // modal
      .modal-container {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         min-height: 100%;
         background-color: rgba(0, 0, 0, 0.7);
         display: none;
         justify-content: center;
         align-items: center;
         z-index: 1000;

         .modal-content {
            position: relative;
            max-height: 500px;
            max-width: 1200px;
            background-color: #f3f3f3;
            color: util.$font-color;
            padding: util.$pd-md;
            border-radius: util.$br-md;
            overflow-y: scroll;

            .btn-container {
               position: absolute;
               top: 0;
               right: 0;
               margin: util.$mg-xs;

               .close-modal-btn {
                  i {
                     color: red;
                  }
               }
            }
         }
      }

      .ads {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #ccc;
      }
   }
}

// Recipe Page
.meal-container {
   .meal-list {
      .meal-card {
         display: flex;
         gap: 20px;
         padding: util.$pd-sm;
         margin-top: util.$mg-sm;
         border-radius: util.$br-md;

         &:nth-child(2n+1) { // odd
            border: 1px solid #e4e2e2;
         }

         &:nth-child(2n) { // even
            background-color: #e4e2e2;
         }

         img {
            width: min(300px, 40%);
            box-shadow: 0 4px 5px 2px #777;
         }
      }
   }
}

footer {
   height: 100%;
   text-align: center;
   padding: util.$pd-lg;
}